<!doctype html>
<html ng-app>
	<head>
		<title>Lista de compras com AngularJS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/lista-compras.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="../vendor/lib/angular-1.0.1.js"></script>
		<script src="../js/lista-compras.js"></script>
	</head>
	<body class="atividade20">
    <a class="backu" href="../index.html">
      <img src="../img/JS.png">
    </a>
    <div class="container" ng-controller="ListaComprasController">
      <br><br>
      <h1 class="text-white text-center">Lista de compras - <img class="Ajs" src="../img/AngularJS_logo.svg"></h1>
      <br><br>
      <div class="table-responsive">
        <table id="lista-compras" class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Comprado?</th>
              <th>Produto</th>
              <th>Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in itens" class="comprado-{{ item.comprado }}">
              <td><input type="checkbox" ng-model="item.comprado"></td>
              <td><strong>{{ item.produto }}</strong></td>
              <td>{{ item.quantidade }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <form class="form-inline" name="formItem">
        <input type="text" ng-model="item.produto" placeholder="Produto" class="form-control shadow-none rounded-0 col-6">
        <input type="number" ng-model="item.quantidade" placeholder="Quantidade" class="form-control shadow-none rounded-0 col-6">
        <br>
        <button class="btn btn-atv20 btn-block rounded-0 shadow-none" ng-click="adicionaItem()">adicionar ítem</button>
      </form>
      <br><br>
      <br><br>
		</div>
	</body>
</html>
